/*
    -폰트 규칙
    1. 단위는 rem 
    2. 14px = 1rem - 일반 본문 크기
    (원래 픽셀 크기 나누기 14 하면 rem 값 나옴)
    3. 20px => 1.43rem - h2 타이틀 크기
    4. 16px => 1.15rem - h3 타이틀 크기
*/

/* text css */
h2{ font-size: 1.43rem; }
h3{ font-size: 1.15rem; }
p{ font-size: 1rem; }

.bold{ font-size: 24px; font-weight: bold; }

/* main */
main .swiper-slide{ position: relative; width: 375px; height: 315px; }
main .swiper-slide img{ width: 100%; height: 100%; }
main h2{ color: #fff; }

main .slide01 h2{ position: absolute; top: 180px; right: 15px; text-align: right; font-size: 24px; font-weight: lighter }
main .slide01 .real{ text-align: right; font-size: 40px; font-weight: bold; }
main .slide02 h2{ position: absolute; top: 200px; left: 0; right: 0; bottom: 0; margin: auto; font-size: 28px; text-align: center; font-weight: 900; }
main .slide03 h2{ position: absolute; top: 200px; left: 0; right: 0; bottom: 0; margin: auto; font-size: 28px; text-align: center; font-weight: 900; }
main .slide04 h2{ position: absolute; top: 200px; left: 0; right: 0; bottom: 0; margin: auto; font-size: 28px; text-align: center; font-weight: 900; }
main .slide05 h2{ position: absolute; top: 200px; left: 0; right: 0; bottom: 0; margin: auto; font-size: 28px; text-align: center; font-weight: 900; }

main .swiper-pagination-bullet{ width: 13px; height: 13px; opacity: 1; background-color: #101820; }
main .swiper-pagination-bullet-active{ background-color: #cb333b; }

/* board */
.board{ position: relative; padding: 15px; box-sizing: border-box;  width: 100%;  background-color: #ededed; }
.board .boardbox img{ position: absolute; top: 45px; width: 90%; height: 1px;  }
.board .boardBtn { width: 345px; height: 30px; padding-bottom: 20px; box-sizing: border-box; }
.board .boardBtn > li{ float: left; margin-right: 20px; }
.board .boardBtn a{ color: #101820; font-size: 24px; font-weight: bold; }

.board .board_wrap{ padding-top: 17px; box-sizing: border-box; }
.board .board_wrap ul> li> a{ display: block; width: 80%; height: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  color: #101820; font-size: 14px; }
.board .board_wrap ul>li{ margin-bottom: 14px; }
.board .board_wrap ul>li:last-child{ margin-bottom: 0px; }

/* 제이쿼리에서 활성화 */
.boardbox .boardBtn a.active{ font-weight: 900;  }
.boardbox .board_wrap{ width: 100%; height: 100%; }
.boardbox .board_wrap > div{ display: none; width: 100%; height: 100%; }

/* patchNote */
#patchNote{ position: relative; width: 100%; padding: 15px; box-sizing: border-box; }
#patchNote figure img{ width: 100%; }
#patchNote figcaption{ position: absolute; top: 43%; left: 0; right: 0; bottom: 0; margin: 0 auto; text-align: center;  width: 220px; height: 30px; background-color: #101820; }
#patchNote figcaption .text{ color: #fff; line-height: 30px; font-size: 24px; }

/* store */
#store .swiper-slide{ position: relative; width: 375px; height: 310px; }
#store .swiper-slide img{ width: 100%; height: 100%; }
#store h2, #store span { color: #fff; }

#store .slide01 h2, #store .slide02 h2, #store .slide03 h2, #store .slide04 h2, #store .slide05 h2, #store .slide06 h2, #store .slide07 h2{ position: absolute; bottom: 70px; left: 24px; font-size: 30px; font-weight: 900; }
#store .slide01 .rp, #store .slide02 .rp, #store .slide03 .rp, #store .slide04 .rp, #store .slide05 .rp, #store .slide06 .rp, #store .slide07 .rp{ position: absolute; bottom: 30px; left: 24px; width: 32px; height: 32px; z-index: 1; }
#store .slide01 span, #store .slide02 span, #store .slide03 span, #store .slide04 span, #store .slide05 span, #store .slide06 span, #store .slide07 span{ position: absolute; bottom: 32px; left: 64px; z-index: 1; }

#store .swiper-pagination-bullet{ width: 13px; height: 13px; opacity: 1; background-color: #101820; }
#store .swiper-pagination-bullet-active{ background-color: #cb333b; }

/* userGuide */
#userGuide{ position: relative; width: 100%; padding: 15px; box-sizing: border-box; }
#userGuide figure img{ width: 100%; }
#userGuide figcaption{ position: absolute; top: 43%; left: 0; right: 0; bottom: 0; margin: 0 auto; text-align: center;  width: 220px; height: 30px; background-color: #101820; }
#userGuide figcaption .text{ color: #fff; line-height: 30px; font-size: 24px; }

/* monthChampion */
#monthChampion{ overflow: hidden; padding: 15px; box-sizing: border-box; width: 100%; background-color: #101820; }
#monthChampion h2{ text-align: center; color: #fff; font-size: 24px; font-weight: 900; }
#monthChampion #title01{ margin: 15px 0; color: #fff; text-align: center; font-size: 18px; font-weight: bold; }
#monthChampion li{ overflow: hidden; margin-bottom: 15px; width: 100%; background-color: #ededed; }
#monthChampion li:last-child{ margin-bottom: 0px; }
#monthChampion figure{ width: 100%; }
#monthChampion img{ float: left; width: 50%;}
#monthChampion figcaption{ float: right; width: 50%; height: 100%; padding: 8px; box-sizing: border-box; }

#monthChampion .red{ font-size: 18px; color: #cb333b; }
#monthChampion h3{ margin-bottom: 10px; color: #101820; font-size: 18px; font-weight: 900; }
#monthChampion p{ color: #101820; font-size: 0.85rem; font-weight: 700;}

/* guideBanner */
#guideBanner{ position: relative; overflow: hidden; width: 100%; padding: 15px; box-sizing: border-box; background-color: #ededed; }
#guideBanner li{ overflow: hidden; width: 50%; }
#guideBanner #bn01{ float: left;  }
#guideBanner img{ width: 100%; }
#guideBanner #bn02{ float: right; }
#guideBanner #bn01 figcaption{ position: absolute; top: 70%; left: -45%; right: 0; bottom: 0; margin: 0 auto; text-align: center;  width: 130px; height: 30px; background-color: #101820; }
#guideBanner #bn02 figcaption{ position: absolute; top: 70%; left: 0; right: -47%; bottom: 0; margin: 0 auto; text-align: center;  width: 130px; height: 30px; background-color: #101820; }
#guideBanner figcaption .text01, #guideBanner figcaption .text02{ color: #fff; line-height: 30px; font-size: 24px; }

/* sns */
#sns{ overflow: hidden; padding: 0 15px; box-sizing: border-box; width: 100%; background-color: #f6be00; }
#sns h2{ float: left; width: 140px; height: 100%; line-height: 70px; text-align: center; font-size: 25px; font-weight: 900; }
#sns ul{ float: right; width: 140px; height: 100%; line-height: 90px; }
#sns ul > li{ float: left; width: 32px; height: 32px; padding: 0 4px; }
#sns ul> li> a img { width: 32px; height: 32px; }